<!-- header.html -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'unsafe-inline'; img-src 'self'; connect-src 'self';" />
    <title>Location Appartements</title>
    
    <!-- Lien vers les fichiers CSS -->
    <link rel="stylesheet" href="./css/shared.css" />
    <link rel="stylesheet" href="./css/navbar.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    
    <!-- Script pour gérer la langue (si nécessaire) -->
    <script src="./js/translation.js"></script>
  </head>
  