<nav class="navbar">
    <div class="navbar-left">
      <img src="images/404-error_11226230.png" alt="Logo du site" class="logo" />
    </div>
    <div class="navbar-right">
      <a href="./index.html" data-i18n="nav_home"></a>
       | 
      <a href="./list-appartements.html" data-i18n="nav_apartments"></a>
  
      <select id="languageSwitcher">
        <option value="fr">FR</option>
        <option value="en">EN</option>
        <option value="pt">PT</option>
      </select>
    </div>
  </nav>
  